<p id="notice"><%= notice %></p>

<p>
  <strong>Final grade:</strong>
  <%= @final_certification.final_grade_id %>
</p>

<%= link_to 'Edit', edit_final_certification_path(@final_certification) %> |
<%= link_to 'Back', final_certifications_path %>
