<p id="notice"><%= notice %></p>

<p>
  <strong>Administrative:</strong>
  <%= @accountant.administrative_id %>
</p>

<%= link_to 'Edit', edit_accountant_path(@accountant) %> |
<%= link_to 'Back', accountants_path %>
