<p id="notice"><%= notice %></p>

<p>
  <strong>Administrative:</strong>
  <%= @secretary.administrative_id %>
</p>

<%= link_to 'Edit', edit_secretary_path(@secretary) %> |
<%= link_to 'Back', secretaries_path %>
